*{
    margin: 0px;
    padding:0px;
    }
@font-face{
    font-family: 'Inknut';
    src: url(fonts/inknut-antiqua/InknutAntiqua-Bold.ttf);

}
@font-face {
    font-family: 'Inria';
    src: url(fonts/Inria_Sans/InriaSans-Bold.ttf);
}

/*CSS BODY*/

.imagedefond{
    background-image: url('images/fond.jpg');
    background-size: cover;
    width: 100%; 
    height: 100vh;
    background-repeat: no-repeat;
    max-width: 100%;
    
    }

#title{
    color: white;
    text-align: center;
    font-size: 5em;
    padding-top: 200px;
    font-family: 'Inknut';
}

/*Image maps*/



.fond-bleu{
    background-color: #ade4ff;
    color: #ffffff;

    
}
path:hover{
   fill: rgb(138, 179, 255);
   cursor: pointer;
   transition:.3s;
    
}


/*css pour le svg*/
path{
    fill: #ffffff;
     
 }

svg{
    opacity:.9;
}

.fond-bleu2{
    background-color: #021B2B;
    
}

#maps{
    
    
    justify-content: center;
    
}

/*CSS Kabang*/
main{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#font{
    font-family: 'Inknut';
    color: azure;
    margin-left: 110px;
}

#font2{
    font-family: 'Inria';
    color: azure;
    margin-left: 110px;
    margin-right: 110px;
    text-align: justify;
    padding-bottom: 100px;
    font-size: 1.5em;
}
/*CSS de la nav*/
#nav{
    padding-top:  15px;
    margin-left: 15px;
    width: 50px;
}


.hero{
    position:relative;
    height:100vh;
    overflow:hidden;
}

.hero video{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.35);
}

.hero-content{
    position:relative;
    z-index:2;

    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    color:white;
    text-align:center;
    
}

.hero-content h1{
    font-size:7rem;
    font-weight:700;
    letter-spacing:10px;
    text-transform:uppercase;
}

@media (max-width: 900px){

    .hero-content h1{
    font-size:5rem;
    font-weight:700;
    letter-spacing:10px;
    text-transform:uppercase;
    }

}

.hero-content p{
    font-size:1.5rem;
    margin-top:15px;
}

.hero-content h1{
    opacity:0;
    transform:translateY(50px);
    animation:fadeUp 1.5s ease forwards;
}

.hero-content p{
    opacity:0;
    transform:translateY(50px);
    animation:fadeUp 1.5s ease forwards;
    animation-delay:.5s;
}

@keyframes fadeUp{
    to{
        opacity:1;
        transform:translateY(0);
    }
}

.hero-content h1{
    animation:
        fadeUp 1.5s ease forwards,
        floatText 4s ease-in-out infinite;
}

@keyframes floatText{
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-8px);
    }
    100%{
        transform:translateY(0);
    }
}

.hero-btn{
    margin-top:30px;
    padding:12px 70px;

    border:1px solid rgba(255,255,255,.7);
    color:white;

    text-decoration:none;
    border-radius:50px;


    background:rgba(255,255,255,0.08);

    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(10px);

    transition:all .3s ease;
    font-weight: 500;
}

.hero-btn:hover{
    background:white;
    color:#021B2B;
    font-weight: 700;
}


.intro{
    min-height:80vh;

    display:grid;
    grid-template-columns:1fr 2fr;
    gap:80px;
    background-color: #021B2B;
    align-items:center;
    box-sizing: content-box !important;
    padding:120px 10%;
}
@media (max-width: 900px){

    .intro{
        grid-template-columns: 1fr;
        gap: 40px;
        text-align: center;
    }

}

.intro-image img{
    width:100%;
    border-radius:20px;
}

.intro-content  h2{
    font-size:3rem;
    color:white;
    margin-bottom:25px;
    padding-top: 15px;
}



.intro-content p{
    font-size:1.15rem;
    line-height:1.9;
    color:rgba(255,255,255,.8);
    max-width: 650px;
}

.section-tag{
    color:#74C0FC;
    text-transform:uppercase;
    letter-spacing:3px;
}

#img-mok{
    width: 400px;
    filter: contrast(1.1) brightness(1.05);
}

@media (max-width: 900px){

    #img-mok{
         width: 300px;
    filter: contrast(1.1) brightness(1.05);
    }

}

/* Bouton pour ramener vers la carte*/

.challenge-link{
    display:inline-block;
    margin-top:25px;
    border: #ffffff 2px solid;
    border-radius: 50px;
    padding: 10px 26px;
    color:#74C0FC;
    text-decoration:none;

    font-size:1.1rem;
    font-weight:500;
    letter-spacing:1px;

    transition:all .3s ease;
}

.challenge-link:hover{
    transform:translateX(8px);
    color:white;
}


.challenge-box{
    margin-top:35px;
    padding:30px;

    border-left:3px solid #74C0FC;

    background:rgba(255,255,255,0.03);

    border-radius:12px;
    width: fit-content;
    max-width: 700px;
}

.challenge-box p{
    color:rgba(255,255,255,.8);
    margin-bottom:10px;
}

.challenge-box h3{
    font-size:1.4rem;
    color:white;
    margin-bottom:5px;
}
.section-tag{
    color:#74C0FC;
    letter-spacing:4px;
    text-transform:uppercase;
}

.challenge-section{
   background-color: #021B2B; 
   text-align: center;

}

.challenge-section h2{
    font-size:3rem;
    color:white;
    margin-bottom:25px;
    padding-top: 15px;
}

.challenge-section p{
    font-size:1.15rem;
    color:white;
   
}

#tooltip{
    position:fixed;

    padding:8px 14px;

    background:rgba(0,0,0,.8);
    color:white;

    border-radius:10px;

    pointer-events:none;

    opacity:0;

    transition:.2s;

    z-index:999;
}

.indice-container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    perspective: 1000px;
}

.indice-card{
    width: 300px;
    height: 80px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .8s;
    cursor: pointer;
    border-left:3px solid #74C0FC;
    border-radius: 16px;
}

.indice-container:hover .indice-card{
    transform: rotateX(180deg);
}

.indice-face{
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 16px;

    backface-visibility: hidden;

    background: rgba(255,255,255,.05);
    border: 1px solid rgba(116,192,252,.3);
    backdrop-filter: blur(12px);

    color: white;
    font-size: 1rem;
    text-align: center;

    box-shadow:
        0 0 20px rgba(0,0,0,.3),
        inset 0 0 10px rgba(255,255,255,.05);
}

.indice-front{
    letter-spacing: 2px;
    text-transform: uppercase;
}

.indice-back{
    transform: rotateX(180deg);
    padding: 15px;
    line-height: 1.4;
}

.footer{
    background-color: #021b2be3;
    

    border-top: 1px solid rgba(116,192,252,.2);

    padding: 40px 20px;

    text-align: center;

    color: rgba(255,255,255,.8);

    font-size: .95rem;
}

.footer p{
    margin: 8px 0;
}

.footer-copy{
    margin-top: 20px;
    color: rgba(255,255,255,.5);
    font-size: .85rem;
}

.hero-kabang{
    text-align: center;
    padding: 90px 20px 35px;
    color: white;
}

.hero-tag{
    display: block;
    margin-bottom: 20px;

    font-size: .9rem;
    letter-spacing: 6px;
    text-transform: uppercase;

    color: #74c0fc;
}

.hero-kabang h1{
    font-size:3rem;
    color:white;
    margin-bottom:25px;
    padding-top: 15px;
}

.hero-kabang p{
    max-width: 700px;
    margin: auto;
    margin-bottom: 0px;

    font-size: 1.3rem;
    line-height: 1.7;

    color: rgba(255,255,255,.8);
}

.kabang-text{
    max-width: 900px;
    margin: auto;
    margin-top: 80px;
    padding: 0 30px;
    color: white;
}

.section-tag{
    display: block;
    
    margin-bottom: 15px;

    color: #74c0fc;
    letter-spacing: 5px;
    font-size: .9rem;
}

.kabang-text h2{
    
    font-size: clamp(2.2rem, 5vw, 3.5rem);
    margin-bottom: 40px;
}

.kabang-text p{
    font-size: 1.3rem;
    line-height: 1.9;
    color: rgba(255,255,255,.85);
    margin-bottom: 25px;
}

.kabang-text .intro{
    font-size: 1.3rem;
    line-height: 1.8;
    text-align: center;

    color: white;

    max-width: 800px;
    margin: 0 auto 50px auto;
}

.titre-kabang{
    text-align: center;
    
}

.titre-kabang h2{
    font-size:3rem;
    color:white;
    margin-bottom:25px;
    padding-top: 15px;

}

.more-section h2{
    font-size:3rem;
    color:white;
    margin-bottom:25px;
    padding-top: 15px;
}
.section-tag-kabang{
    display: block;
    text-align: center;
    margin-bottom: 15px;

    color: #74c0fc;
    letter-spacing: 5px;
    font-size: .9rem;
}

.back-home{
    position: absolute;
    top: 35px;
    left: 35px;

    display: inline-flex;
    align-items: center;
    gap: 10px;

    padding: 12px 18px;

    color: rgba(255,255,255,.85);
    text-decoration: none;
    font-size: .95rem;
    letter-spacing: 1px;

    background: rgba(255,255,255,.05);
    border: 1px solid rgba(116,192,252,.25);
    border-radius: 14px;

    backdrop-filter: blur(10px);

    transition:
        transform .3s ease,
        background .3s ease,
        border-color .3s ease,
        color .3s ease,
        box-shadow .3s ease;
}
.back-home:hover{
    color: white;

    background: rgba(116,192,252,.12);

    border-color: rgba(116,192,252,.5);

    transform: translateY(-2px);

    
}
.more-section{
    padding: 120px 20px;
    text-align: center;
}

.more-intro{
    max-width: 700px;
    margin: 20px auto 60px;
    color: rgba(255,255,255,.8);
    line-height: 1.8;
}

.resource-grid{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.resource-card{
    width: 280px;

    padding: 30px;

    text-decoration: none;
    color: white;

    background: rgba(255,255,255,.05);

    border: 1px solid rgba(116,192,252,.25);

    border-radius: 18px;

    backdrop-filter: blur(12px);

    transition: .3s;
}

.resource-card span{
    font-size: 2rem;
}

.resource-card h3{
    margin: 15px 0;
}

.resource-card p{
    color: rgba(255,255,255,.75);
}

.resource-card:hover{
    transform: translateY(-6px);

    border-color: rgba(116,192,252,.6);

    
}